.card{
    height: 150px;
    width: 150px;
    float: left;
    margin: auto;
    background-color: yellow;
    box-sizing: border-box;
    margin: 10px 0px 0px 10px;
    padding: 5px;
}

img{
    height: 10px;
}

