body{
    margin: 0px;
    overflow: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/gradienta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#topnav{
    height: 100%;
    width: 17.5%;
    overflow: hidden;
    background-color:rgb(0, 0, 190);
    text-align: center;
    flex-direction: column;
    display: flex;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
}

#topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#topnav a:hover{
    background-color: rgb(0, 0, 165);
}


#topnav i{
    color: #f2f2f2;
    padding: 14px 16px;
}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div #top-add-hidden-search{
    height: 30px;
    width: 100%;
    padding: 14px 16px;
    display: flex;
    background-color: rgb(0, 0, 190);
    
    
}

#topnav-hidden i{
    height: 3%;
    width: 30px;
    color: #f2f2f200;
    transition: 0.5s;
}

#top-add-hidden-search input{
    height: 100%;
    width: 25%;
    padding: 1%;
    padding-left: 4%;
    margin-left: auto;
    border: none;
    background-color: #f2f2f2;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 7;
}

#top-add-hidden-search label{
    display: flex;
    font-size: 17px;
    margin-left: 40%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f2f2f2;
    font-weight: 500;
}

#create-new-file{
    color: #f2f2f2;
    margin-left: 3%;
}

#card-todos{
    height: 91%;
    width: 85%;
    position: absolute;
    float: left;
    margin-left: 14.7%;
    margin-top: 60px;
    box-sizing: border-box;
    /*border: 1px solid red; */
    transition: 0.5s;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.8%;
    text-align: center;
}

#menu-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


