body{
    margin: auto;
    overflow: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../img/gradienta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
}
.box{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;

}

img{
    height: 25%;
    margin-bottom: 5px;
    margin-top: 10px;
}

div{
    padding: 8px;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: green;
    border: none;
    width: 80%;
    height: 10%;
    border-radius: 5px;
}

button a{
    text-decoration: none;
    color: white;
}

input{
    width: 80%;
    height: 10%;
    border: none;
    border-bottom: 1px solid silver;
}

div .links a{
    font-size: 12px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}