body{
    padding: 2px;
    overflow: hidden;
}

.card-colunas{
    height: 80%;
    width: 90%;
    /*border: 1px solid silver;*/
    display: flex;
    text-align: center;
    margin: auto;
}

.col{
    width: 22%;
    height: 100%;
    border-right: 2px solid #1E90FF;
    overflow: auto;
    padding: 2%;
    /*display: flex;*/
    box-sizing: border-box;
}

.col::-webkit-scrollbar {
    display: none;
}

label{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: large;
    color: #696969;
}

.domingo{
    border-right: 0px;
}

.card-col{
    margin: auto;
    width: 60%;
    height: 10%;
    border-radius: 5px;
    padding: 5%;
    background-color: #4ea7ffc2;
    border: 1px solid #4ea7ffd7;
}

#card-col img{
    height: 20px;
}

#card-col div{
    float: left;
    
}
.col .segunda{
    display: flex;
    /*position: relative;
    align-items: center;*/
}

div .card-col{
    margin-left: 12%;
}
